.faded-out {
  opacity: 0.02;
  transform: scale(0.95); /* Optional for subtle animation */
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    all 0.2s ease-in-out;
}

.workflow-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 13vh; /* Creates empty space at the top */
  overflow-y: auto;
  position: relative;
}

.workflow-container > *:not(.faded-out) {
  pointer-events: auto;
}

.phase-row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  background: transparent;
  gap: 45px;
  padding-bottom: 30px;
  /* height: auto;  */
  transition: height 0.3s ease-in-out; /* Smooth transition */
  overflow: visible; /* Prevent sudden overflow issues */
}

.phase-label-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  top: 0px; /* Move above the subtasks */
  left: 0px;
  width: 40vw;
  background-color: #00000009;
  padding: 20px;
  border-radius: 20px;
  z-index: 1;
}

.phase-label-container:hover {
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.038);
}

.phase-label-text {
  color: #000;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}

.phase-hover-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  pointer-events: none; /* Ensure it doesn't block interactions */
  transition: background-color 0.3s;
  z-index: -1;
}

.phase-row:hover .phase-hover-area {
  background-color: rgba(0, 0, 0, 0.05);
}

.subtasks-wrapper {
  display: flex;
  padding: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.subtask {
  flex: 1 1 200px;
  max-width: 30vw;
  border-radius: 15px;
  background: var(--trans_low, #fefefe4a);
  padding: 10px;
  gap: 0px;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    left 0.5s linear;
  cursor: pointer;
}

.subtask.selected {
  position: absolute; /* Move to absolute positioning */
  left: 0; /* Align with the very left of the screen */
  top: 0;
  transition: left 1s linear;
  z-index: 10;
}

.subtask:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.subtask-placeholder {
  flex: 1 1 200px;
  max-width: 30vw;
  border-radius: 15px;
  background: var(--trans_low, transparent);
  padding: 10px;
  gap: 0px;
  transition: box-shadow 0.3s, transform 0.1s;
  cursor: default;
  visibility: hidden; /* Makes everything inside invisible */
  pointer-events: none; /* Prevents interactions */
}

.subtask-title {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 26px;
  margin-right: 26px;
  text-align: center;
  /* background: var(--trans, rgba(173, 173, 173, 0.20)); */
  border-radius: 5px;
  color: #000;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.304px;
}

.subtask-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  margin-left: 20px;
}

.steps {
  display: inline-flex;
  padding: 16px 17px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.AI {
  background: var(
    --status,
    linear-gradient(107deg, #b3d9ff 13.95%, #ebb4ff 97.27%)
  );
}

.B {
  background: var(
    --status,
    linear-gradient(107deg, #ffe3b8 13.95%, #ebb4ff 97.27%)
  );
}

/* 浮窗设计 */
.parent-container {
  position: absolute; /* Ensure the modal is positioned relative to this container */
  overflow-y: auto; /* Allow vertical scrolling */
  top: 0;
  left: 50vw;
  padding: 5px; /* Optional: adjust padding to your needs */
  background: transparent;
}
